table,
td,
th {
  border-collapse: collapse;
  border-style: solid;
  border-color: black;
  padding-left: 20px;
  padding-right: 20px;
}
ol {
  color: mediumslateblue;
}
ul {
  color: steelblue;
}
.StudentTable {
  text-align: center;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
